@keyframes bounceIn {
    0% {
        transform: translateY(-100vh);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Keyframes for the continuous bounce */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.pulse {
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        stroke-width: 2;
    }

    50% {
        stroke-width: 5;
    }

    100% {
        stroke-width: 2;
    }
}