@keyframes bounceIn {
    0% {
        transform: translateY(-100vh);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Keyframes for the continuous bounce */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.pulse {
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        stroke-width: 2;
    }

    50% {
        stroke-width: 5;
    }

    100% {
        stroke-width: 2;
    }
}

.marker-text {
    width: fit-content !important;
    height: fit-content !important;
    text-align: center !important;
    margin-top: -12px !important;
    margin-left: -12px !important;
    font-size: 0.75rem !important;
}
