@keyframes bounceIn {
    0% {
        transform: translateY(-100vh);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Keyframes for the continuous bounce */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.pulse {
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        stroke-width: 2;
    }

    50% {
        stroke-width: 5;
    }

    100% {
        stroke-width: 2;
    }
}

.marker-text {
    width: fit-content !important;
    height: fit-content !important;
    text-align: center !important;
    margin-top: -1rem !important;
    margin-left: -1rem !important;
    font-size: 0.75rem !important;
}

@media (prefers-color-scheme: dark) {
    .leaflet-layer {
        filter: invert(1) hue-rotate(180deg) grayscale(0.7) !important;
    }

    .leaflet-control-zoom {
        filter: invert(1) hue-rotate(180deg) grayscale(0.7) !important;
    }

    .leaflet-container {
        background: #0d0d0d !important;
    }

    .leaflet-container .leaflet-control-attribution a {
        color: lightblue !important;
    }

    .leaflet-control-attribution {
        background: rgba(0, 0, 0, 0.8) !important;
        color: white !important;
    }
}
